USE [futbol]
GO
ALTER TABLE [dbo].[torneo] DROP CONSTRAINT [FK_torneo_provincia]
GO
ALTER TABLE [dbo].[torneo] DROP CONSTRAINT [FK_torneo_localidad]
GO
ALTER TABLE [dbo].[jugador] DROP CONSTRAINT [FK_jugador_provincia]
GO
ALTER TABLE [dbo].[jugador] DROP CONSTRAINT [FK_jugador_localidad]
GO
ALTER TABLE [dbo].[jugador] DROP CONSTRAINT [FK_jugador_genero]
GO
ALTER TABLE [dbo].[jugador] DROP CONSTRAINT [FK_jugador_equipo]
GO
ALTER TABLE [dbo].[equipo] DROP CONSTRAINT [FK_equipo_torneo]
GO
ALTER TABLE [dbo].[torneo] DROP CONSTRAINT [DF_torneo_flag_activo]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 28/10/2018 16:51:36 ******/
DROP TABLE [dbo].[usuario]
GO
/****** Object:  Table [dbo].[torneo]    Script Date: 28/10/2018 16:51:36 ******/
DROP TABLE [dbo].[torneo]
GO
/****** Object:  Table [dbo].[provincia]    Script Date: 28/10/2018 16:51:36 ******/
DROP TABLE [dbo].[provincia]
GO
/****** Object:  Table [dbo].[localidad]    Script Date: 28/10/2018 16:51:36 ******/
DROP TABLE [dbo].[localidad]
GO
/****** Object:  Table [dbo].[jugador]    Script Date: 28/10/2018 16:51:36 ******/
DROP TABLE [dbo].[jugador]
GO
/****** Object:  Table [dbo].[genero]    Script Date: 28/10/2018 16:51:36 ******/
DROP TABLE [dbo].[genero]
GO
/****** Object:  Table [dbo].[equipo]    Script Date: 28/10/2018 16:51:36 ******/
DROP TABLE [dbo].[equipo]
GO
/****** Object:  Table [dbo].[contacto]    Script Date: 28/10/2018 16:51:36 ******/
DROP TABLE [dbo].[contacto]
GO
USE [master]
GO
/****** Object:  Database [futbol]    Script Date: 28/10/2018 16:51:36 ******/
DROP DATABASE [futbol]
GO
/****** Object:  Database [futbol]    Script Date: 28/10/2018 16:51:36 ******/
CREATE DATABASE [futbol]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'futbol', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\futbol.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'futbol_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\futbol_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [futbol].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [futbol]
GO
/****** Object:  Table [dbo].[contacto]    Script Date: 28/10/2018 16:51:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contacto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[email] [nvarchar](250) NOT NULL,
	[comentario] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_contacto] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[equipo]    Script Date: 28/10/2018 16:51:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[equipo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](250) NOT NULL,
	[montoabonado] [int] NULL,
	[torneo_id] [int] NULL,
 CONSTRAINT [PK_equipo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[genero]    Script Date: 28/10/2018 16:51:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[genero](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_genero] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[jugador]    Script Date: 28/10/2018 16:51:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jugador](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](250) NOT NULL,
	[apellido] [nvarchar](250) NOT NULL,
	[email] [nvarchar](200) NOT NULL,
	[fecha_nac] [date] NOT NULL,
	[provincia_id] [int] NOT NULL,
	[localidad_id] [int] NOT NULL,
	[domicilio] [nvarchar](200) NULL,
	[genero_id] [int] NOT NULL,
	[equipo_id] [int] NOT NULL,
	[edad] [int] NOT NULL,
 CONSTRAINT [PK_jugador] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[localidad]    Script Date: 28/10/2018 16:51:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[localidad](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[provincia_id] [int] NOT NULL,
	[descripcion] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_localidad] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[provincia]    Script Date: 28/10/2018 16:51:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[provincia](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](80) NOT NULL,
 CONSTRAINT [PK_provincia] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[torneo]    Script Date: 28/10/2018 16:51:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[torneo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](250) NOT NULL,
	[flag_activo] [bit] NOT NULL,
	[provincia_id] [int] NOT NULL,
	[localidad_id] [int] NOT NULL,
 CONSTRAINT [PK_torneo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 28/10/2018 16:51:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[apellido] [nvarchar](50) NOT NULL,
	[usuario] [nvarchar](20) NOT NULL,
	[contraseña] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[genero] ON 

INSERT [dbo].[genero] ([id], [descripcion]) VALUES (1, N'femenino')
INSERT [dbo].[genero] ([id], [descripcion]) VALUES (2, N'masculino')
SET IDENTITY_INSERT [dbo].[genero] OFF
SET IDENTITY_INSERT [dbo].[localidad] ON 

INSERT [dbo].[localidad] ([id], [provincia_id], [descripcion]) VALUES (1, 1, N'Morón')
INSERT [dbo].[localidad] ([id], [provincia_id], [descripcion]) VALUES (2, 1, N'Ituzaingó')
INSERT [dbo].[localidad] ([id], [provincia_id], [descripcion]) VALUES (3, 1, N'La Matanza')
SET IDENTITY_INSERT [dbo].[localidad] OFF
SET IDENTITY_INSERT [dbo].[provincia] ON 

INSERT [dbo].[provincia] ([id], [descripcion]) VALUES (1, N'Buenos Aires')
INSERT [dbo].[provincia] ([id], [descripcion]) VALUES (2, N'Catamarca')
INSERT [dbo].[provincia] ([id], [descripcion]) VALUES (3, N'Chaco')
SET IDENTITY_INSERT [dbo].[provincia] OFF
SET IDENTITY_INSERT [dbo].[usuario] ON 

INSERT [dbo].[usuario] ([id], [nombre], [apellido], [usuario], [contraseña]) VALUES (1, N'Administrador', N'Administrador', N'admin', N'admin')
SET IDENTITY_INSERT [dbo].[usuario] OFF
ALTER TABLE [dbo].[torneo] ADD  CONSTRAINT [DF_torneo_flag_activo]  DEFAULT ((0)) FOR [flag_activo]
GO
ALTER TABLE [dbo].[equipo]  WITH CHECK ADD  CONSTRAINT [FK_equipo_torneo] FOREIGN KEY([torneo_id])
REFERENCES [dbo].[torneo] ([id])
GO
ALTER TABLE [dbo].[equipo] CHECK CONSTRAINT [FK_equipo_torneo]
GO
ALTER TABLE [dbo].[jugador]  WITH CHECK ADD  CONSTRAINT [FK_jugador_equipo] FOREIGN KEY([equipo_id])
REFERENCES [dbo].[equipo] ([id])
GO
ALTER TABLE [dbo].[jugador] CHECK CONSTRAINT [FK_jugador_equipo]
GO
ALTER TABLE [dbo].[jugador]  WITH CHECK ADD  CONSTRAINT [FK_jugador_genero] FOREIGN KEY([genero_id])
REFERENCES [dbo].[genero] ([id])
GO
ALTER TABLE [dbo].[jugador] CHECK CONSTRAINT [FK_jugador_genero]
GO
ALTER TABLE [dbo].[jugador]  WITH CHECK ADD  CONSTRAINT [FK_jugador_localidad] FOREIGN KEY([localidad_id])
REFERENCES [dbo].[localidad] ([id])
GO
ALTER TABLE [dbo].[jugador] CHECK CONSTRAINT [FK_jugador_localidad]
GO
ALTER TABLE [dbo].[jugador]  WITH CHECK ADD  CONSTRAINT [FK_jugador_provincia] FOREIGN KEY([provincia_id])
REFERENCES [dbo].[provincia] ([id])
GO
ALTER TABLE [dbo].[jugador] CHECK CONSTRAINT [FK_jugador_provincia]
GO
ALTER TABLE [dbo].[torneo]  WITH CHECK ADD  CONSTRAINT [FK_torneo_localidad] FOREIGN KEY([localidad_id])
REFERENCES [dbo].[localidad] ([id])
GO
ALTER TABLE [dbo].[torneo] CHECK CONSTRAINT [FK_torneo_localidad]
GO
ALTER TABLE [dbo].[torneo]  WITH CHECK ADD  CONSTRAINT [FK_torneo_provincia] FOREIGN KEY([provincia_id])
REFERENCES [dbo].[provincia] ([id])
GO
ALTER TABLE [dbo].[torneo] CHECK CONSTRAINT [FK_torneo_provincia]
GO
USE [master]
GO
